
body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  padding: 20px;
}


#formulario {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 300px;
}

/* Estilo de los botones */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  background-color: #45a049;
}

/* Contenedor de productos */
#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Estilo para cada producto */
.producto {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease;
}

.producto:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 8px;
}


.btnEliminar {
  background-color: #e74c3c;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.btnEliminar:hover {
  background-color: #c0392b;
}
